pip install numpy
pip install pandas
pip install seaborn
pip install psutil
pip install sklearn
pip install collections
pip install csv
pip install threading
pip install multiprocessing
pip install time
pip install matplotlib
pip install seaborn
pip install argparse
pip install logging
pip install gc
pip install pickle
pip install xgboost
pip install importlib
pip install tensorflow
pip install keras
pip install random
pip install sys